/** 主要类型筛选*/
.backgroundStorage {
  width: 100%;
  height: 300px;
  background-color: #f2f2f2;
  margin-top: 1px;
  margin-bottom: 1px;
}
.backgroundStorage div{
  overflow: hidden;
}
.backgroundStorage div li{
  float: left;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  margin: 10px 0 5px 20px;
}
.one{
  border-bottom: 1px solid #808080;
}
/*第一位li设计*/
.backgroundStorage div li:first-child{
  display: inline-block;
  color: #0066ff;
  text-align: center;
  background-color: #66ccff;
  border: 1px solid #78C3F3;
  border-radius: 50px;
  padding: 2px 8px 3px 8px;
  margin: 10px 20px 10px 20px;
}
