li{
  list-style-type: none;
}
a{
  text-decoration: none;
}

.handpick{
  /*width: 94.8%;*/
  margin-left: 148px;
}
.handpick div h4{
  margin-left: 10px;
}
.showFiltrate,.showFiltrateType{
  /*width: 94.0%;*/
  height: 40px;
  /*text-align: center;*/
  background-color: floralwhite;
  margin-left: 148px;
  margin-top: 1px;
}

.showFiltrate li,.showFiltrateType li{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.showFiltrateType{

}
.showFiltrateType li{
  margin-left: 10px;
}

/*展示数据区域*/
.demonstrate,.introduce{
  /*width: 94.8%;*/
  height: 280px;
  /*background-color: #AADFFD;*/
  margin-bottom: 5px;
}
/*容器*/
.introduce{
  height: 36px;
  float: none;
  margin-bottom: 10px;
}
.demonstrate li,.introduce li{
  float: left;
  width: 160px;
  height: 30px;
  text-align: center;
  /*border: 1px solid;*/
  padding-top: 5px;
}
.demonstrate li input[type=button]{
  width: 60px;
  height: 25px;
  outline: none;
  background-color: #FF8C00;
  border: 1px solid #FF8C00;
  border-radius: 5px;
}
